<h1>Track changes for Angular</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/load-save-integration">Load and save integration</a>
    </li>
    <li>
      <a routerLink="/track-changes-adapter">Track changes adapter</a>
    </li>
    <li>
      <a routerLink="/revision-history-adapter">Revision history adapter</a>
    </li>
    <li>
      <a routerLink="/merge-richtext-adapter">Merge richtext adapter</a>
    </li>
    <li>
      <a routerLink="/rich-text-diff">Rich Text Different</a>
    </li>
  </ul>
</nav>
